*{
    padding:0;
    margin:0;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding:2vw;
    font-size:2vh;
}
.nav1{
    margin:2vh 0vh;
   
}
.nav1 a{
    background-color: rgb(228, 228, 245);
    padding:2vh;
    border-radius: 5px;
}
.nav2{
    box-shadow:0px .7px .5vw rgb(215, 215, 243);
    border-radius:10px;
    padding:2.5vh;
    margin:-.4vh;
}
.nav2 a{
    margin:1.2vw;
   
}
.lock{
    background-color: rgb(226, 226, 247);
    padding:2vh;
    border-radius:5px;
}

.nav3{
    margin:2vh 0vh;

}
.nav3 span a{
    margin:.4vw;
}
.arrow{
    
    background-color: blue;
    padding:2vh;
    border-radius:5px;
    margin: 1.1em;
}
.span{
    background-color: rgb(228, 228, 245);
    padding:2vh;
    border-radius: 5px;
    padding-left:.2vw;
    padding-right: .2vw;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 80vh;
    padding:0px 2vw;
}

